{% extends "base.html" %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5">
            <audio controls="controls">
              Your browser does not support the <code>audio</code> element.
              <source src="static/midi_files/{{filename}}.wav" type="audio/wav">
            </audio>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<object data="static/sheet_notes/{{filename}}.pdf" type="application/pdf" width="1000" height="1200">
  alt : <a href="static/sheet_notes/{{filename}}.pdf"></a>
</object>
{% endblock %}